*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#B4D6CD ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.container{
    width: 100%;
    height: 100vh;
}
.search{
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
}
.searchbtn{
 background-color: rgb(35, 196, 241);
    margin-left: 1px;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.searchbtn:hover{
    background-color: white;
}
.table{
    background-color: #dec0c9;
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0;
        border: 1px solid black;
}
th{
   text-align: center;
   background-color: #FFDA76;
   padding: 5px;
   font-size: 20px;
   border: 1px solid black ;
}
td{
    font-size: 20px;
    padding: 5px;
    border: 1px solid black ;
}
.button{
    background-color: #000401;
    color: white;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
}
.deleteselected{
    margin: 10px;
    background-color: #030e01;
    color: white;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.deleteselected:hover{
    background-color: rgb(232, 12, 12);

}


