*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-panel{
    margin: 20px;
    display: flex;
    align-items: center;
}

.search-panel input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px 0 0 4px;
    flex: 1;
}
.search-panel button{
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius:0 4px 4px 0;
  font-size: medium;
  border-left: none;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.search-panel button i{
    margin-right: 5px;
}
